@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400;500&display=swap');
section {
     padding: 5% 0 5% 0;
}

.container-fluid {
     padding: 0 12% 0 12%;
}

.login-text, .user-text, .menu-text, .cart-text {
     font-family: "Abril Fatface";
     font-weight: 800;
     text-align: center;
     padding-bottom: 5%;
}

a {
     color: #c80030;
}

a:hover {
     color: #d83f43;
}

/* Navbar */

.navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28200, 0, 48, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar {
     background-color: #f9f9f9;
     -webkit-box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.15);
     box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.15);
}

#navbar {
     justify-content: center;
}

.navbar-brand {
     padding-left: 1rem;
     font-family: "Abril Fatface";
     font-size: 2.5rem;
}

.nav-item {
     font-size: 1.5rem;
     font-weight: 500;
     padding-right: 2rem;
}

/* Title Page */

#home {
     background: #ea1d2c;
     padding-top: 8rem;
}

.slogan {
     text-align: right;
     text-transform: uppercase;
     color: #fff;
     font-family: "Roboto";
     font-size: 3rem;
     font-weight: 900;
}

.highlight {
     color: #f0a500;
     text-decoration: solid;
}

.order-button {
     margin-top: 10%;
     margin-right: 5%;
}

.about-button {
     margin-top: 10%;
}

.title-image {
     clip-path: ellipse(240px 130px at center);
     width: 100%;
     padding-top: 8%;
}

/* Pass Validator */

#pass {
     padding-top: 8rem;
     background-color: #fff;
}

.pass {
     font-family: "Abril Fatface";
     padding-bottom: 5%;
}

.error {
     color: red;
}

.form-padding {
     padding: 0 30% 0 30%;
}

form {
     font-family: "Roboto";
}

.valid {
     color: green;
}

.invalid {
     color: red;
}

/* Users */

#users {
     background-color: #f6f5f5;
     padding: 2% 0 5% 0;
     padding-top: 8rem;
}

.users {
     font-family: "Abril Fatface";
     padding-bottom: 5%;
}

/* Menu */

#menu {
     padding-top: 8rem;
}

.categories {
     font-family: "Abril Fatface";
     font-weight: 400;
     font-size: 1.8rem;
     text-align: center;
     padding: 3% 0 5% 0;
}

.menu-image {
     width: 100%;
     padding-bottom: 10px;
}

.menu-price, .add-order {
     margin-bottom: 5%;
}

.card-title {
     display: flex;
     justify-content: space-between;
}

.veg-image {
     width: 40px;
}

/* Checkout */

#checkout {
     background-color: #f6f5f5;
}

.checkout-button {
     display: flex;
     margin: 0 auto;
     margin-bottom: 2rem;
}

table {
     margin: auto;
}

/* Footer */

.copyright {
     text-align: center;
     padding: 25px 0;
     background: #ea1d2c;
}

span {
     color: #fff;
}

.eatfood {
     margin-bottom: 0;
     color: #fff;
     font-family: "Abril Fatface";
     font-size: 1.5rem;
}

.copyright-text {
     font-family: "Roboto";
     font-size: 1.2rem;
}

/* Our Food */

#ourfood {
     padding: 5% 0 5% 0;
}

.ourfood-title {
     font-family: "Abril Fatface";
     font-size: 4rem;
     text-align: center;
}

/* Styling for smaller screens */

@media (max-width: 920px) {
     /* Title Page */
     #home {
          text-align: center;
     }
     .slogan {
          font-size: 2rem;
     }
     .order-button {
          margin-right: 2%;
     }
     .title-image {
          clip-path: ellipse(100px 50px at center);
          width: 80%;
     }
     /* Login */
     .form-padding {
          padding: 0 12% 0 12%;
     }
}